﻿/* add your styling here */
* {
  box-sizing: border-box;
}

button {
  appearance: none;
  border: none;
  cursor: pointer;
}

.App {
  font-size: 14px;
}

h3 {
  font-size: 25px;
  margin: 0px 0px 12px 0px;
}

/* --- LAYOUT --- */
.article, .header {
  margin: 0 auto;
  max-width: 1440px;
}

.section {
  margin-top: 56px;
}

.footer {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  background-color: #000000;
  color: #ffffff
}

/* --- NAVBAR --- */
.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .navbar-inner {
  display: flex;
  padding: 16px 24px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px #000000;
}

.navbar .nav-link {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #000000;
}

.navbar .nav-link:hover {
  background-color: #bdbdbd;
}

.navbar .nav-group {
  margin-left: auto;
  display: flex;
}

/* --- HEADER --- */
.header {
  position: relative;
}

.header .header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header .header-title h1 {
  font-size: 36px;
  color: #ffffff;
}

.header .header-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header .header-title h1 span:first-child {
  padding: 4px 12px;
  background-color: #000000dd;
  margin-right: 8px;
}

/* --- GRID LAYOUT --- */
.grid-layout {
  display: grid;
  width: 100%;
}

/* --- PROJECT SECTION --- */
.project-list {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
}

.project-card {
  position: relative;
}

.project-card .project-title {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 8px;
  color: #ffffff;
  background-color: #000000;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* --- TEAM SECTION --- */
.team-list {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 12px;
  row-gap: 32px;
}

.team-list .team-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.team-list .team-card .title {
  font-weight: 500;
  font-size: 20px;
}

.team-list .team-card .subtitle {
  color: #757575
}

.team-list .team-card .btn-contact {
  padding: 8px 16px;
  background-color: #e6e6e6;
  width: 100%;
}

.team-list .team-card .btn-contact:hover {
  background-color: #b6b6b6;
}

/* --- FORM --- */
.form-control {
  padding: 4px;
  display: block;
  min-height: 32px;
  width: 100%;
}

.form-control + .form-control,
.form-control + .form-submit {
  margin-top: 12px;
}

.form-submit {
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0f0f0f;
}

.form-submit:hover {
  background-color: #b6b6b6;
  color: #000000
}

/* --- MAPS --- */
.maps img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* --- TABLE --- */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper {
  border: 1px solid #b1b1b1;
}

.table tr th,
.table tr td {
  padding: 8px 12px;
}

.table tr th {
  font-weight: 700;
  text-align: left;
  border-bottom: 1px solid #b1b1b1;
}

.table tbody tr:nth-child(even) {
  background-color: #cfcfcf;
}

/* --- RESPONSIVE --- */

@media screen and (max-width: 1440px) {
  .article {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .navbar .nav-group {
    display: none;
  }
}